<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Tank Batallion</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">

var config = {
    type: Phaser.AUTO,
    width: 25*32,
    height: 20*32+16,
    physics: {
        default: 'arcade',
        arcade: {
            gravity: { y: 300 },
            debug: false
        }
    },
    scene: {
        preload: preload,
        create: create,
        update: update
    }
};

var game = new Phaser.Game(config);

function preload()
{
    this.load.image('tank', 'static/tankbatallion/tank.png');
    this.load.image('bullet', 'static/tankbatallion/bullet.png');
    this.load.image('brick', 'static/tankbatallion/brick.png');
}

function createBorder(walls)
{
    for(x = 16; x < 25*32; x += 16)
    {
        walls.create(x, 16, 'brick');
        walls.create(x, 20*32, 'brick');
    }

    for(y = 32+16; y < 20*32-16; y += 16)
    {
        walls.create(16, y, 'brick');
        walls.create(800-16, y, 'brick');
    }
}

function createLabyrinth(walls)
{
}

function createVault(walls)
{
}

function create()
{
    walls = this.physics.add.staticGroup();

    createBorder(walls);
    createLabyrinth(walls);
    createVault(walls);

    tank = this.physics.add.sprite(32+16, 450, 'tank');
    tank.setBounce(0.5);
    tank.setCollideWorldBounds(true);

    this.physics.add.collider(tank, walls);
}

function update()
{
}

</script>

</body>
</html>
